@use "../../../node_modules/normalize.css/normalize.css";
@use 'variables/global';
@use 'themes/normal';
@use 'themes/dark';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// the main block for app
.app {
  background: var(--bg-main);
  color: var(--text-main);
  font: var(--font-m);
}

// input styles for autocomplete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px var(--autocomplete-background-input-color) inset; /* for background */
  transition: background-color 5000s ease-in-out 0s;
}

/* Изменяем цвет текста */
input:-webkit-autofill {
  -webkit-text-fill-color: var(--autocomplete-input-color) !important; /* for text */
  transition: background-color 600000s ease-in-out 0s;
}

h1 {
  color: var(--text-main);
}

p {
  color: var(--text-dimmed);
}