.main {
  min-height: 4.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  .label {
    border: 1.5px solid var(--tertiary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;

    .input {
      background: inherit;
      border: none;
      color: var(--primary-color);
      outline: none;
      width: 100%;

      &:disabled {
        cursor: not-allowed;
      }

      &:invalid {
        box-shadow: none;
      }
    }

    .plholder {
      color: var(--tertiary-color);
      left: .5em;
      position: absolute;
      top: .5em;
    }

    .input:focus + .plholder,
    .input:not(:placeholder-shown) + .plholder {
      background-color: var(--bg-color);
      color: var(--primary-color);
      font-size: 15px;
      left: .5em;
      top: -.9em;
      z-index: 1;
    }

    .plholder.error,
    .input:focus + .plholder.error,
    .input:not(:placeholder-shown) + .plholder.error {
      color: var(--error-color);
    }

    &:has(.input:not(:disabled)):hover, &:focus-within {
      box-shadow: 0 0 0 1px var(--input-shadow-color);
    }
  }

  .label.error {
    border: 1.5px solid var(--error-color);
    color: var(--error-color);
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }

  .label.error:hover,
  .label.error:focus-within,
  .label.error:has(.input:active) {
    box-shadow: 0 0 0 1px var(--input-error-shadow-color) !important;
  }

  .label.disabled, .plholder.disabled {
    opacity: var(--element-disabled-color);
  }

  .error_message {
    color: var(--error-color);
    min-height: 20px;
    text-overflow: ellipsis;
    transition: color 0.15s ease-in-out;
  }
}