.app.dark {
  // common colors
  --bg-color: #0F0E17;
  --primary-color: #8C8CB6;
  --secondary-color: #261b3e;
  --tertiary-color: #4E3F6F;
  --error-color: #9c1509;

  // input colors
  --input-shadow-color: rgb(140 140 182 / 50%);
  --input-error-shadow-color: rgb(156 21 9 / 50%);


  // buttons colors
  --btn-bg-color: #261b3e; // default
  --btn-color: #8774bc;
  --btn-hover-bg-color: #281d42; // hover
  --btn-hover-color: #8674ba;
  --btn-active-bg-color: #31244e; // active
  --btn-active-color: #8C8CB6;
  --btn-disabled-bg-color: #261B3EFF; // disabled
  --btn-disabled-color: #31244EFF;

  // theme buttons color
  --btn-change-theme-color: #8C8CB6;

  // input autocomplete colors
  --autocomplete-background-input-color: #120e26;
  --autocomplete-input-color: #fff;

  // checkbox colors
  --checkbox-default-border-color: #4E3F6F; // default
  --checkbox-default-bg-color: transparent;
  --checkbox-checked-color: #8774bc; // checked
  --checkbox-hover-border-color: #8C8CB6; // hover
  --checkbox-focus-border-color: #8C8CB6; // focus
  --checkbox-focus-shadow-color: rgb(185 159 228 / 25%);

  // select colors
  --select-placeholder-color: #4E3F6F;
  --select-single-value-color: #8C8CB6;
  --select-control-border-color: #4E3F6F;
  --select-shadow-color: rgb(140 140 182 / 50%);
  --select-menu-list-bg-color: #b1b1cd;
  --select-option-color: #4E3F6F;
  --select-option-selected-color: #4E3F6F;
  --select-option-selected-bg-color: #c8b8f3;
  --select-option-focus-bg-color: #4E3F6F;
  --select-option-focus-color: #beaded;

  // date-picker colors
  --datepicker-bg-color: #b1b1cd;
  --datepicker-header-bg-color: #4E3F6F;
  --datepicker-current-month-color: #eae2ec;
  --datepicker-day-color: #0a0712;
  --datepicker-day-keyboard-selected-bg-color: #d5d5f6;
  --datepicker-day-selected-bg-color: #4E3F6F;
  --datepicker-day-selected-color: #fff;
  --datepicker-day-selected-hover-bg-color: #6f5a9f;
  --datepicker-day-outside-month-color: #716f73;
  --datepicker-navigation-icon-border-color: #d6dadf;
  --datepicker-navigation-icon-hover-border-color: #ecf3ec;
}