.app.light {
  // palette
  --bg-main: #F2F2FE; /* Основной фон приложения */
  --bg-surface: #FFF; /* Карточки, поля ввода, выпадающие списки */
  --bg-elevated: #8C8CB6; /* Кнопки (default), активные элементы */

  /* text roles */
  --text-main: #1A1927; /* Основной текст, заголовки */
  --text-dimmed: #4E3F6F; /* Обычный текст, описания, подписи, иконки, плейсхолдеры */
  --text-muted: #8C8CB6; /* Третичный: даты, неактивные табы, подсказки */
  --text-on-accent: #F2F2FE; /* Статичный: текст внутри кнопок */
  --text-link: #4E3F6F; /* Ссылки (акцентный фиолетовый) */
  --text-error: #D32F2F;

  /* Accent and others */
  --border: #D1D1E9; /* Границы элементов, чтобы они не «растекались» */
  --accent: #8774BC; /* Главный акцент, чекбоксы, фокус */
  --error: #FF3B30; /* Ошибки и деструктивные действия */
  --shadow: rgb(78 63 111 / 10%); /* Плотная тень для разделения слоев */
  --error-shadow: rgb(255 59 48 / 50%);
  --bg-color: #F2F2FE;
  --primary-color: #4E3F6F;
  --secondary-color: #8C8CB6;
  --tertiary-color: #8774bc;
  --error-color: #FF3B30;







  // input colors
  --input-shadow-color: rgb(78 63 111 / 50%);
  --input-error-shadow-color: rgb(255 59 48 / 50%);

  // buttons colors
  --btn-bg-color: #8C8CB6; // default
  --btn-color: #2d2149;
  --btn-hover-bg-color: #8787b1; // hover
  --btn-hover-color: #372857;
  --btn-active-bg-color: #75759c; // active
  --btn-active-color: #261B3EFF;
  --btn-disabled-bg-color: #8C8CB6; // disabled
  --btn-disabled-color: #846dc3;

  // theme buttons color
  --btn-change-theme-color: #261B3EFF;

  // input autocomplete colors
  --autocomplete-background-input-color: #fff;
  --autocomplete-input-color: #0F0E17;

  // checkbox colors
  --checkbox-default-border-color: #8774bc; // default
  --checkbox-default-bg-color: #fff;
  --checkbox-checked-color: #75759c; // checked
  --checkbox-hover-border-color: #372857; // hover
  --checkbox-focus-border-color: #372857; // focus
  --checkbox-focus-shadow-color: rgb(55 40 87 / 25%);

  // select colors
  --select-placeholder-color: #8774bc;
  --select-single-value-color: #4E3F6F;
  --select-control-border-color: #8774bc;
  --select-shadow-color: rgb(78 63 111 / 50%);
  --select-menu-list-bg-color: #E7E1FBFF;
  --select-option-color: #4E3F6F;
  --select-option-selected-color: #4E3F6F;
  --select-option-selected-bg-color: #c8b8f3;
  --select-option-focus-bg-color: #8774bc;
  --select-option-focus-color: #e2d7fd;

  // date-picker colors
  --datepicker-bg-color: #fff;
  --datepicker-header-bg-color: #8C8CB6;
  --datepicker-current-month-color: #2d2149;
  --datepicker-day-color: #2d2149;
  --datepicker-day-keyboard-selected-bg-color: #d5d5f6;
  --datepicker-day-selected-bg-color: #8C8CB6;
  --datepicker-day-selected-color: #fff;
  --datepicker-day-selected-hover-bg-color: #6f5a9f;
  --datepicker-day-outside-month-color: #c3cad1;
  --datepicker-navigation-icon-border-color: #d6dadf;
  --datepicker-navigation-icon-hover-border-color: #ecf3ec;

  // opacity for disabled states of elements
  --element-disabled-color: 0.7;
}