.content {
  align-items: center;

  // the block for social content with left/right paddings
  // border: 3px solid #0af41e;
  display: flex;
  justify-content: center;
  min-height: 100%;
  width: 90%;

  .content_left, .content_right {
    align-items: center;

    // left/right sides of content blocks
    // border: 3px solid #f40ab2;
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 50%;
  }
}

@media screen and (width <= 1100px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;

    .content_left, .content_right {
      width: 100%;
    }
  }
}

@media screen and (width <= 415px) {
  .content {
    .content_left {
      display: none;
    }
  }
}