@import "react-datepicker/dist/react-datepicker.css";
@import "./defaultDatePicker.css";

.main {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  width: 100%;

  .input {
    background-color: var(--bg-surface);
    border: 1.5px solid var(--border);
    border-radius: 10px;
    color: var(--text-dimmed);
    outline: none;
    padding: 10px;
    width: 100%;

    &::placeholder {
      color: var(--text-muted);
      transition: 0.3s ease-in-out;
    }

    &:hover, &:focus {
      border-color: var(--accent);
    }
  }

  label {
    color: var(--text-dimmed);
    display: block;
    text-align: left;
  }
}