.react-datepicker {
    background-color: var(--bg-surface); /*default background календаря +++*/
}


.react-datepicker .react-datepicker__header {
    background-color: var(--bg-elevated); /* цвет хэдера */
}

.react-datepicker__current-month {
    color: var(--text-on-accent); /* текст в header */
}

.react-datepicker__day {
    color: var(--text-main); /* цифры в календаре - их цвет */
}

.react-datepicker__day--selected {
    background-color: var(--accent) !important; /*бэкграунд выбранной даты  --bg-main */
    color: var(--text-on-accent); /*цвет цифры выбранной даты --text-main ++++*/
    border: 1px solid var(--border) !important;
}

.react-datepicker__day--keyboard-selected { /* для переключения по датам +++ */
    background-color: var(--bg-surface);
    box-shadow: 0 0 0 2px var(--accent);
    border-radius: 4px;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--keyboard-selected:hover {
    background-color: var(--accent) !important;
    filter: brightness(1.15) !important;
}

.react-datepicker__day-name {
    font-weight: bold;
    color: var(--text-dimmed) !important;
}

.react-datepicker__day--outside-month {
    color: var(--text-muted); /* цвет цифр дней не входящих в текущий месяц+++ */
}

.react-datepicker__navigation-icon::before {
    border-color: var(--text-on-accent); /* цвет стрелок +++ */
    transition: border-color 0.2s; /* задержка для изменении цвета стрелок при наведении */
}

.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
    filter: brightness(1.15) /* цвет стрелок при наведении +++ */
}