.form_container {
  background-color: var(--bg-color);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 30%);
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 40px;
  width: 35rem;

  .form_header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-wrap: wrap;

    .header-title {
      align-items: center;
      display: flex;
      gap: .5rem;
    }

    .header-message {
      text-align: left;
      text-transform: uppercase;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (width <= 415px) {
  .form_container {
    overflow: hidden;
    width: 100%;

    form {
      width: 100%;
    }
  }
}