.checkboxOutline {
  align-items: center;
  display: flex;
  gap: .3rem;
  justify-content: flex-start;

  input[type="checkbox"] {
    appearance: none;
    background-color: inherit;
    border: .1rem solid var(--border);
    border-radius: 0.25rem;
    cursor: pointer;
    height: 1rem;
    transition: background-color 0.15s ease-in-out;
    width: 1rem;
  }

  input[type="checkbox"]:checked {
    background-color: var(--accent);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    border-color: var(--accent);
  }

  /* Эффект нажатия */
  input[type="checkbox"]:active {
    filter: brightness(90%);
  }

  input[type="checkbox"]:hover:not(:disabled) {
    border-color: var(--accent);
  }

  input[type="checkbox"]:focus {
    border-color: var(--accent);
    box-shadow: 0 0 0 0.1rem var(--shadow);
    outline: none;
  }

  input[type="checkbox"]:disabled {
    cursor: not-allowed;
    filter: none;
    opacity: var(--disabled-opacity);
  }

  input[type="checkbox"] ~ label {
    color: var(--text-dimmed);
  }

  input[type="checkbox"]:disabled ~ label {
    cursor: not-allowed;
    opacity: var(--disabled-opacity);
  }
}